#table-eventlist td{
    border-width:2px;
}
#table-eventlist{
    float: right !important;
}
.card-body{
    min-height: 400px ;
    direction: rtl;
    padding: 30px;
}

.row {
    display: block !important;
}

#tbl-event-list{
    margin-top: 20px !important;
}